.page {
  display: flex;
  justify-content: center;
  padding: 24px 16px 48px;
}

.container {
  width: 100%;
  max-width: 630px;
}

@media (max-width: 680px) {
  .page {
    padding: 0 0 40px;
  }
}
